ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
.bk {
  max-width: 1440px\9;
  *width: 1440px;
  margin: 0 auto 0 auto;
}
.nav {
  width: 100%;
  height: 91px;
}
.nav_contain {
  width: 900px;
  height: 100%;
  margin: 0 auto 0 auto;
}
.logo {
  height: 48px;
  float: left;
  margin-top: 15px;
}
.logo img {
  height: 100%;
}
.nav_list {
  float: right;
  padding: 0;
  margin-top: 27px;
  margin-right: 9px;
  position: relative;
}
.nav_list a {
  color: #ffc1c1;
  letter-spacing: 4px;
}
.nav_list a:hover {
  color: #fff;
}
.nav_list li {
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 18px;
  margin-left: 60px;
  float: left;
}
.nav_bar {
  width: 40px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 43px;
  left: 60px;
}
.content {
  width: 900px;
  margin: 0 auto 0 auto;
  position: relative;
}
.content:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-top: 1px ;
}
.content:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.title_1 {
  font-family: 'STXingkai', "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-style: italic;
  color: #fff;
  text-shadow: 1px 1px 0 #f0bebb;
  font-size: 50px;
  position: absolute;
  top: 34px;
  left: 33px;
  margin: 0;
  font-weight: 100;
}
.title_yth {
  position: absolute;
  top: 127px;
  right: 108px;
}
.title_mor {
  position: absolute;
  left: 33px;
  top: -8px;
}
.title_2 {
  font-family: 'STXingkai', "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #ffc067;
  font-size: 30px;
  position: absolute;
  top: 240px;
  right: 10px;
  letter-spacing: 0px;
  font-weight: 100;
}
.title_3 {
  width: 364px;
  height: 41px;
  font-family: 'STXingkai', "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 22px;
  color: #ffcaa1;
  font-weight: 100;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 0;
  margin: 305px auto 0 auto;
  margin-bottom: 62px;
  position: relative;
}
.title_3 span {
  display: block;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
}
.title_3_1 {
  left: 14px;
}
.title_3_2 {
  right: 14px;
}
.container:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.news {
  width: 590px;
  height: 368px;
  float: left;
  background-color: #fff;
}
.news_title {
  width: 482px;
  margin: 28px 0 20px 40px;
}
.news_title img {
  vertical-align: middle;
}
.news_title a {
  font-family: "SimSun", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #999999;
  float: right;
  font-size: 12px;
  margin-top: 10px;
}
.news_h {
  color: #e1121a;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  display: inline;
  margin: 0;
}
.news_list {
  padding-left: 0;
  margin-top: 21px;
  font-family: "SimSun", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
}
.news_li {
  height: 30px;
  padding-left: 34px;
  background-color: #f4f4f4;
  overflow: hidden;
}
.news_li a {
  width: 248px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #666666;
  margin: 0;
  float: left;
  padding: 8px 6px;
  transition: padding-left 0.5s ease 0s;
  -moz-transition: padding-left 0.5s ease 0s;
  /* Firefox 4 */
  -webkit-transition: padding-left 0.5s ease 0s;
  /* Safari 和 Chrome */
  -o-transition: padding-left 0.5s ease 0s;
  /* Opera */
}
.news_li a:hover {
  padding-left: 22px;
}
.news_li_even {
  background-color: #fff;
}
.news_tip {
  width: 24px;
  height: 16px;
  float: left;
  padding-top: 12px;
}
.news_tip img {
  display: block;
}
.news_time {
  padding: 8px 66px 0 0;
  float: right;
}
.shadow {
  -webkit-box-shadow: 0 10px 20px 2px #ac1b2a;
  -moz-box-shadow: 0 10px 20px 2px #ac1b2a;
  box-shadow: 0 10px 20px 2px #ac1b2a;
  transition: box-shadow 0.5s ease 0s;
  -moz-transition: box-shadow 0.5s ease 0s;
  /* Firefox 4 */
  -webkit-transition: box-shadow 0.5s ease 0s;
  /* Safari 和 Chrome */
  -o-transition: box-shadow 0.5s ease 0s;
  /* Opera */
}
.shadow:hover {
  -webkit-box-shadow: 0 0 20px 2px #841b26;
  -moz-box-shadow: 0 0 20px 2px #841b26;
  box-shadow: 0 0 20px 2px #841b26;
}
.log {
  width: 282px;
  height: 368px;
  float: right;
  background-color: #fff;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.log_title {
  font-size: 18px;
  color: #e1121a;
  margin: 28px 0 0 31px;
}
#log_form {
  width: 220px;
  margin: 19px auto 0 auto;
}
#log_form label {
  color: #FA676D;
  font-size: 12px;
}
#log_form input {
  height: 36px;
  line-height: 36px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  color: #999999;
  margin-bottom: 8px;
}
#log_form .log_sub {
  width: 100%;
  background-color: #ff414e;
  margin: 12px 0 20px 0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px #dddddd;
  -moz-box-shadow: 0 0 0 1px #dddddd;
  box-shadow: 0 0 0 1px #dddddd;
  color: #fff;
  font-size: 18px;
  letter-spacing: 8px;
  cursor: pointer;
  -moz-border-radius: 4px;
  /* Gecko browsers */
  -webkit-border-radius: 4px;
  /* Webkit browsers */
  border-radius: 4px;
  /* W3C syntax */
  line-height: 36px;
}
.log_err {
  display: block;
  height: 19px;
  font-size: 14px;
  color: #e1121a;
}
.log_teacher {
  background-color: #ff414e;
  color: #fff;
  margin-left: 31px;
  font-size: 14px;
  padding: 4px;
  -webkit-box-shadow: 0 0 0 1px #dddddd;
  -moz-box-shadow: 0 0 0 1px #dddddd;
  box-shadow: 0 0 0 1px #dddddd;
  -moz-border-radius: 4px;
  /* Gecko browsers */
  -webkit-border-radius: 4px;
  /* Webkit browsers */
  border-radius: 4px;
  /* W3C syntax */
}
.log_info {
  width: 200px;
  padding-left: 20px;
  border: 1px solid #cccccc;
}
.log_forget {
  float: right;
  margin-right: 35px;
  color: #666666;
}
.log_suc {
  width: 272px;
  height: 227px;
  overflow: hidden;
  margin: 7px auto 0 auto;
}
.log_out {
  display: block;
  height: 36px;
  width: 220px;
  color: #fff;
  background-color: #8a8a8a;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  letter-spacing: 9px;
  -webkit-box-shadow: 1px 1px 0 1px #dddddd;
  -moz-box-shadow: 1px 1px 0 1px #dddddd;
  box-shadow: 1px 1px 0 1px #dddddd;
  -moz-border-radius: 4px;
  /* Gecko browsers */
  -webkit-border-radius: 4px;
  /* Webkit browsers */
  border-radius: 4px;
  /* W3C syntax */
  margin: 0 auto 0 auto;
}
.bu_nav_link {
  float: left;
  margin-top: 30px;
}
.bu_nav {
  width: 280px;
  height: 110px;
  line-height: 110px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 30px;
  color: #fff;
  background-color: #ff414e;
  border: 0;
  cursor: pointer;
}
.bu_nav img {
  border: 0;
  vertical-align: sub;
  margin-right: 19px;
}
.bu_nav_mar {
  margin: 0 30px;
}
.footer {
  height: 79px;
  margin-top: 58px;
  background-color: #aa1728;
}
.footer_p {
  text-align: center;
  height: 100%;
  width: 100%;
  line-height: 79px;
  font-family: "SimSun", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #ff959c;
  font-size: 14px;
}
.norm_suc {
  width: 290px;
  height: 140px;
  background-color: #fff;
  position: fixed;
  top: 20%;
  right: 0;
  left: 0;
  margin: auto;
  border: 1px solid #ff414e;
  -moz-border-radius: 4px;
  /* Gecko browsers */
  -webkit-border-radius: 4px;
  /* Webkit browsers */
  border-radius: 4px;
  /* W3C syntax */
  padding: 10px;
}
.norm_suc_h {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin: 0 0 12px 0;
  color: #e1121a;
  font-size: 20px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.norm_suc_p {
  color: #909090;
  text-align: center;
}
.norm_suc_sub {
  width: 100px;
  height: 40px;
  display: block;
  background-color: #ff414e;
  padding: 0;
  border: 0;
  color: #fff;
  font-size: 18px;
  letter-spacing: 8px;
  -moz-border-radius: 4px;
  /* Gecko browsers */
  -webkit-border-radius: 4px;
  /* Webkit browsers */
  border-radius: 4px;
  /* W3C syntax */
  line-height: 36px;
  margin: 30px auto 0 auto;
}
