.norm {
  width: 682px;
  margin: 0 auto 0 auto;
  background-color: #fff;
  padding: 30px;
  display: none;
}
.norm_h {
  margin: 0 0 12px 0;
  color: #e1121a;
  font-size: 20px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.container {
  width: 559px;
  margin: 0 auto 0 auto;
}
.norm_title {
  font-size: 12px;
  color: #909090;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding-bottom: 10px;
}
.norm_err {
  display: block;
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #e1121a;
}
.norm_team {
  margin-top: 18px;
}
.norm_team label {
  font-size: 16px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #db281b;
}
.norm_team input {
  width: 200px;
  height: 36px;
  outline-color: #db281b;
  line-height: 36px;
  background-color: #f6f6f6;
  margin-left: 22px;
  border: 1px solid #cccccc;
  font-size: 14px;
  padding-left: 20px;
  color: #999999;
}
.lab_ju {
  margin-left: 32px;
}
#norm_rea {
  width: 470px;
  height: 118px;
  outline-color: #db281b;
  background-color: #f6f6f6;
  margin-left: 94px;
  border: 1px solid #cccccc;
  font-size: 14px;
  color: #999999;
  padding: 8px 20px;
}
.norm_eara {
  position: relative;
  margin-bottom: 30px;
}
.norm_eara label {
  position: absolute;
  top: 2px;
  left: 0px;
}
#part {
  width: 270px;
}
#norm_part {
  width: 270px;
}
.norm_sub {
  width: 140px;
  height: 40px;
  background-color: #ff414e;
  margin: 30px 0 34px 0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px #dddddd;
  -moz-box-shadow: 0 0 0 1px #dddddd;
  box-shadow: 0 0 0 1px #dddddd;
  color: #fff;
  font-size: 18px;
  letter-spacing: 8px;
  cursor: pointer;
  -moz-border-radius: 4px;
  /* Gecko browsers */
  -webkit-border-radius: 4px;
  /* Webkit browsers */
  border-radius: 4px;
  /* W3C syntax */
  line-height: 36px;
}
.footer {
  margin-top: 34px;
}
.normed {
  width: 743px;
  min-height: 442px;
  margin: 0 auto 0 auto;
  background-color: #fff;
  padding-bottom: 40px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.normed_title {
  height: 98px;
}
.normed_title_h {
  float: left;
  margin-top: 39px;
  margin-left: 30px;
  color: #e1121a;
  font-size: 18px;
}
.normed_title_h span {
  font-size: 12px;
  font-family: "SimSun", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #999999;
  letter-spacing: 1px;
  margin-left: 14px;
}
.normed_title_bu {
  width: 140px;
  height: 40px;
  background-color: #ff414e;
  margin-top: 30px;
  margin-right: 50px;
  padding: 0;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px #dddddd;
  -moz-box-shadow: 0 0 0 1px #dddddd;
  box-shadow: 0 0 0 1px #dddddd;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  -moz-border-radius: 4px;
  /* Gecko browsers */
  -webkit-border-radius: 4px;
  /* Webkit browsers */
  border-radius: 4px;
  /* W3C syntax */
  line-height: 36px;
  float: right;
}
.normed_container {
  padding: 10px 90px 30px 105px;
}
.normed_container:nth-child(even) {
  background-color: #f6f6f6;
}
.normed_container_h {
  font-size: 16px;
  color: #737373;
  margin: 20px 0 0 0 ;
  letter-spacing: 2px;
}
.normed_container_h span {
  padding: 0 26px;
  color: #dd3a34;
  border-bottom: 1px solid #dd3a34;
}
.normed_container_h_null {
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 44px;
  text-align: center;
  color: #999999;
  font-size: 24px;
  letter-spacing: 12px;
}
.normed_container_p {
  font-size: 14px;
  font-family: "SimSun", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #999999;
  margin: 10px 0 0 37px;
  letter-spacing: 2px;
  word-wrap: break-word;
  word-break: break-all;
}
.normed_container_f:after {
  content: '';
  width: 0;
  display: block;
  clear: both;
}
.normed_container_h_float {
  float: left;
}
.normed_container_h_float span {
  font-size: 14px;
  font-family: "SimSun", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #999999;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 0;
  border-bottom: 0;
}
.normed_container_h_float_1 {
  width: 180px;
}
