@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  /* IE9*/
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */ url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../iconfont/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.vote {
  width: 945px;
  margin: 0 auto 0 auto;
  min-height: 494px;
  position: relative;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.vote_sus {
  width: 157px;
  height: 222px;
  padding: 1px;
  position: fixed;
  top: 345px;
  left: 35px;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 0 1px #c22628;
  -moz-box-shadow: 1px 1px 0 1px #c22628;
  box-shadow: 1px 1px 0 1px #c22628;
  background-color: #eb3843;
}
.vote_sus_xbs {
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  padding: 0 8px 16px 8px;
}
.vote_nav {
  width: 50px;
  padding: 0;
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 18px;
  margin: 0;
}
.vote_nav a {
  display: block;
  margin-bottom: 5px;
}
.vote_nav_li {
  height: 156px;
  padding: 0 10px;
  line-height: 18px;
  display: table-cell;
  background-color: #ff8f21;
  vertical-align: middle;
  text-align: center;
  border-bottom: 4px solid #f1720b;
  margin-bottom: 5px;
  color: #ffffff;
  -webkit-box-shadow: 0 0 1px 1px #b41126;
  -moz-box-shadow: 0 0 1px 1px #b41126;
  box-shadow: 0 0 1px 1px #b41126;
  transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  /* Firefox 4 */
  -webkit-transition: all 1s ease 0s;
  /* Safari 和 Chrome */
  -o-transition: all 1s ease 0s;
  /* Opera */
}
.vote_nav_li:hover {
  background-color: #b90922;
  border-bottom: 4px solid #a5061d;
}
.vote_nav_li_sel {
  background-color: #b90922;
  border-bottom: 4px solid #a5061d;
}
#rule {
  height: 1720px;
}
#nor {
  width: 867px;
  padding: 75px 39px 73px 39px;
  min-height: 344px;
}
#yth {
  width: 867px;
  padding: 75px 39px 73px 39px;
  min-height: 344px;
}
.vote_container_hide {
  display: none;
}
.vote_container {
  padding: 44px 45px;
  width: 855px;
  font-size: 18px;
  color: #ffffff;
  background-color: #c80e2d;
}
.vote_rule_title {
  width: 100%;
  margin: 0 0 63px 0;
  text-align: center;
  font-weight: normal;
}
.vote_rule_p {
  line-height: 29px;
}
.heart {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.vote_h {
  color: #fff;
  font-size: 20px;
  margin: 0;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  text-align: center;
}
.vote_p {
  color: #fff;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}
.vote_peo_list {
  padding: 0;
  margin: 0;
}
.vote_peo_li {
  margin-bottom: 57px;
}
.vote_peo_li:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.vote_people {
  width: 181px;
  margin-right: 47px;
  float: left;
}
.vote_people_last {
  margin-right: 0;
}
.vote_face {
  width: 179px;
  margin-bottom: 17px;
  overflow: hidden;
  border: 1px solid #b0061e;
  font-size: 0;
  position: relative;
}
.vote_face img {
  width: 100%;
}
.vote_face:hover .vote_face_curain {
  display: block;
}
.vote_face_num {
  width: 51px;
  height: 29px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
  line-height: 29px;
  background-color: #5c5650;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.vote_face_curain {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.vote_face_detail {
  display: block;
  width: 124px;
  height: 30px;
  background-color: #ff8f21;
  border: 1px solid #f78412;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -62px;
}
.vote_name {
  position: relative;
  margin-bottom: 7px;
  height: 34px;
  line-height: 34px;
}
.vote_v {
  display: block;
  float: right;
  width: 30px;
  height: 34px;
  font-size: 24px;
  line-height: 38px;
  top: 0;
  right: 5px;
  bottom: 0;
  margin: auto;
  text-align: center;
  overflow: visible;
  color: #c3a1a7;
  text-shadow: 0 0 2px #bb2323;
  cursor: pointer;
  position: absolute;
}
.vote_ved {
  color: #fb6a6e;
  border-width: 0 ;
}
.vote_v_in {
  position: absolute;
  right: 0;
  visibility: hidden;
  z-index: -1;
}
.vote_part {
  margin: 0;
  height: 20px;
}
.vote_sub {
  width: 406px;
  height: 58px;
  background-color: #ff8f21;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #fff;
  font-size: 18px;
  border: 1px solid #ee7b09;
  -webkit-box-shadow: 1px 1px 1px 1px #c10e2a;
  -moz-box-shadow: 1px 1px 1px 1px #c10e2a;
  box-shadow: 1px 1px 1px 1px #c10e2a;
  display: block;
  margin: 0 auto 0 auto;
  cursor: pointer;
}
.vote_subed {
  background-color: #b0071f;
  border: 1px solid #a3071d;
}
.detail_container {
  width: 867px;
  padding: 32px 39px 334px 39px;
  font-size: 18px;
  color: #ffffff;
  background-color: #c80e2d;
}
.detail_title {
  width: 160px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #b91c21;
  background-color: #ba171d;
  color: #eec788;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto 0 auto;
  -webkit-box-shadow: 1px 1px 0 1px #bd0b24;
  -moz-box-shadow: 1px 1px 0 1px #bd0b24;
  box-shadow: 1px 1px 0 1px #bd0b24;
}
.detail_face {
  width: 271px;
  overflow: hidden;
  margin-top: 52px;
}
.detail_face img {
  width: 100%;
}
.detail_group {
  margin-top: 49px;
}
.detail_val {
  margin-left: 9px;
}
.detail_key_space {
  letter-spacing: 2px;
}
.detail_val_p {
  margin: 12px 0 28px 144px;
}
.detail_val_blo {
  display: block;
  margin-left: 0;
}
.norm_suc {
  display: none;
}
